<h1>This is my home, this is where I reside as a website</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blogs</h1>
<!-- When we're creating links, we can use a link_to followed by a title for the link, and the the prefix pathway to whatever part of our app we want.  -->
<h2><%= link_to 'This is my Blog tho',
blogs_path%></h2>
<%= @posts.inspect %>


<h1>Skills</h1>
<%= @skills.inspect %>
